@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?famile=Roboto");

    .background{
        font-family: 'Pacifico'; 
        height: 100vh;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #FFB2B6; 
        overflow: hidden;      
        font-size: 40pt;
    }

    .lineone{
        display: flex;
        justify-content: center;
        font-family: "Pacifico";
        color: #2C455B;
        text-shadow: 1px 18px 44px rgba(0,0,0,.19);
        padding-top: 35px;
       
    }

    .home span.animated {
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    
    .home{
        display: flex;
        justify-content: center;
        font-family: "Pacifico";
        color: #3A5C7A;
        text-shadow: 1px .5px 1px grey;
        padding-top: 10rem;
        /* opacity: 1.0; */

    }

    .home:hover{
        /* opacity: .8; */
    }
    

    /* .home .Title-page{
        opacity: 1.0;
    } */

   

    

    .home-button {
        opacity: 1.0;
        transition: all .5s ease-in-out;
        
        
    }

    .home-button:hover {
        opacity: .50;
         
     }

    .home-button span.animated {
        animation-duration: 2.5s;
        animation-iteration-count: 1;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 50px;
        
      }

    
    