.graphic-background{
    font-family: 'Pacifico'; 
    height: 100%;
     width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/backgroundgraphic1.png);
    overflow: hidden; 
}

.Title-graphics{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
}

.photogrid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 10%;
    padding-bottom: 3%;
}

.photogrid1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    padding-bottom: 3%;
}

.lambdacomment{
    font-family: 'Roboto', 'sans-serif';
    font-size: 10pt;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

