.card-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5%;
}


.card-body{
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px black;
    box-shadow: 1px 18px 44px rgba(0,0,0,.19);
    width: 200px;
    height: 280px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;  
}
  